/*------------------------------------*\
		$VARS
\*------------------------------------*/

:root {
	--color-white: #ffffff;

	--color-base: #1a1a1a;
	--color-border: #aaaaaa;

	--color-bg: #ffffff;
	--color-selection: #e4eaec;
	--color-selection-code: #1a1a1a;
	--color-meta: #b0b0b0;

	--color-twitter: #1DA1F2;

	--font-sans-serif: "Cooper Hewitt", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	--font-mono: "Fira Mono", Menlo, Courier, monospace;

	--color-brand: #676095;

	--color-note-info: #e1edf0;

	--radius: 3px;
}
