<header class="c-site-header">
	<div class="c-site-header__inside o-inner-wide">
		<div class="c-site-header__branding">
			<a class="c-site-header__link c-site-header__link--mobile" href="/">bq</a>
			<a class="c-site-header__link c-site-header__link--desk" href="/">Beqa Themes</a>
		</div>
		<div class="c-site-header__actions">
			<div class="c-site-header__action c-site-header__action--twitter"><a class="c-site-header__link-twitter" rel="noopener" target="_blank" href="https://twitter.com/{{site.twitter_username}}">{% include icons/twitter.svg %}</a></div>
		</div>
	</div>
</header>
